<!doctype html>
<html lang="en">

<head>
    <title>PokeDiario</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <%- include('css'); %>

</head>

<body>


    <%- include('header'); %>

        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">

                        <% if (mensagem != '') { %>
                            <div class="alert alert-danger" role="alert">
                                <%= mensagem %>
                                </div>
                        <% } %>

                        <form method="POST" action="/cadastro_usuario" enctype="multipart/form-data" style="margin: 20px;"> 
                            <legend style="font-size: 40px; text-align: center">Cadastro de Usuário</legend>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="nome" id="nome" placeholder="nome">
                                <label for="nome">Nome</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="name@example.com">
                                <label for="email">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="senha" id="senha"
                                    placeholder="123">
                                <label for="senha">Senha</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="floatingSelect" name="tipo"
                                    aria-label="Floating label select example">

                                    <option value="professor">Professor</option>
                                    <option value="administrador">Administrador</option>

                                </select>
                                <label for="floatingSelect">Tipo</label>
                            </div>

                            <div class="mb-3 col-md-4">
                                <label for="formFile" class="form-label" style="color: white">Uma foto sua</label>
                                <input class="form-control" type="file" name="imagem" id="formFile" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>

        </main>



            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous">
                </script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
                integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
                crossorigin="anonymous">
                </script>
</body>

</html>