<header class="p-3 text-decoration-none" style="background-color: #474C80; width: auto;">
    <div class="container text-decoration-none">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start text-decoration-none">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> 
                <img src="/logo.png" alt="logo" width="50px" style="margin-right: 40px;">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/cadastro"><button type="button" class="btn btn-primary">Adicionar</button></a></li>
            </ul>

            <% if (logado) { %>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/<%= imagem %>" alt="pic" width="50" height="50" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            <% } else { %>
                <div class="text-end text-decoration-none">
                    <a href="/login" class="text-decoration-none"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                    <a href="/cadastro_usuario" class="text-decoration-none"><button type="button" class="btn btn-primary">Cadastro</button></a>
                </div>
            <% } %>
        </div>
    </div>
</header>