<!doctype html>
<html lang="en">

<head>
    <title>Barulhometro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <%- include('css'); %>

    <style>

        h2 {
            color: white;
        }

        ul {
            color: white;
        }
    </style>

</head>

<body>

    <%- include('header'); %>

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center mb-5">
                        <h1>Conheça o Barulhômetro</h1>
                        <p class="lead">uma plataforma <strong>automatizada</strong> de controle de advertências!</p>
                    </div>

                    <div class="row">
                        <div class="col-md">
                            <p>Bem-vindo à nossa plataforma de controle automatizado de advertências, onde a tecnologia e a educação se encontram para criar um ambiente de aprendizado mais harmonioso e produtivo. Nossa solução inovadora utiliza um dispositivo equipado com Arduino para monitorar e gerenciar o nível de ruído nas salas de aula, garantindo um espaço mais tranquilo e propício ao ensino.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md">
                            <h2>Como Funciona?</h2>
                            <p>Nosso sistema é simples, mas poderoso. O dispositivo com Arduino é instalado na sala de aula e monitora constantemente o nível de ruído. Quando o volume ultrapassa o limite predefinido, uma advertência automática é emitida para a turma. Isso não apenas ajuda a manter a disciplina, mas também incentiva os alunos a serem mais conscientes sobre o ambiente de aprendizado.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md">
                            <h2>Acompanhe o Desempenho em Tempo Real</h2>
                            <p>Para complementar o dispositivo de controle de ruído, criamos uma plataforma online onde alunos e professores podem acompanhar o desempenho de cada turma e disciplina. No site, é possível visualizar um ranking que destaca as turmas e disciplinas que mais respeitam as normas de convivência, promovendo uma competição saudável e um ambiente de aprendizado mais eficiente.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md">
                            <h2>Benefícios para Todos</h2>
                            <ul>
                                <li><strong>Para os Professores:</strong> Menos interrupções e mais tempo focado no ensino.</li>
                                <li><strong>Para os Alunos:</strong> Um ambiente de aprendizado mais tranquilo e organizado.</li>
                                <li><strong>Para a Escola:</strong> Melhoria na qualidade do ensino e na gestão da disciplina.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <p>Junte-se a nós e transforme a experiência educacional em sua instituição. Nossa plataforma de controle automatizado de advertências é a ferramenta ideal para promover um ambiente de ensino mais disciplinado, silencioso e produtivo. Faça parte dessa revolução no ensino e eleve a qualidade da educação em sua escola!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
